.product__card {
  width: calc(100% / 4 - 20px);
  min-width: 200px;
  overflow: hidden;
  background-color: $color-white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "PT Sans";

  &__top {
    position: relative;
    background-color: $color-card-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  &__label {
    position: absolute;
    top: 10px;
    left: 10px;
    background: $color-white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__image {
    transition: transform 0.5s ease-out;
  }

  &__discount {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: $color-brand;
    color: $color-white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__brand {
    font-size: 14px;
    color: $color-font-second;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.4s ease-out;
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__price {
    font-size: 16px;
    color: #000;
  }

  &__old-price {
    font-size: 12px;
    color: $color-font-second;
    text-decoration: line-through;
  }

  &__button {
    font-family: "PT Sans";
    width: 75px;
    padding: 12px 16px;
    border: 1px solid $color-brand;
    background: $color-white;
    color: $color-brand;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $color-brand;
      color: $color-white;
    }
  }

  &:hover {
    .product__card__image {
      transform: scale(1.5);
    }

    .product__card__title {
      color: $color-brand;
    }
  }
}

.out-of-stock {
  .product__card__prices {
    display: none;
  }

  .product__card__button {
    border-color: $color-font-second;
    color: $color-font-second;
    margin-block-start: 28px;
    width: 100%;
    padding: clamp(0px, 1vw, 12px) 16px;
    &:hover {
      color: $color-white;
    }
  }
}

@media (max-width: 840px) {
  .product__card {
    min-width: 165px;
  }
}
