$color-font-main: #333333;
$color-font-second: #AAAAAA;
$color-font-hover: #125BAE;
$color-input-hover: #73AFF4;
$color-font-bg: #E2EFFF;
$color-font-history: #5A0488;
$color-brand: #7397F5;
$color-border: #D5D5D5;
$color-icons: #CBCBCB;
$scroll-bar: #F2F2F2;
$color-white: #FFFFFF;
$color-card-bg: #F8F8FA;